.linkCadre{
  margin:0 auto;
  /*width:500px;*/
  display:flex;
  /*color:#000;*/
  font-size:12px;
  line-height:1.5;
  text-align:justify;
}

.linkCadre a{
 color:black;
}

.linkLeft{
  width:200px;
  padding:20px;
  font-size:11px;
  letter-spacing:1px;
  text-transform:uppercase;
  text-align:left;
  box-sizing:border-box;
}

.leftName{
  color:black;
  text-decoration:none;
  display:block;
  padding:7px 0;
}

.linkRight{
  width:calc(100% - 195px);
  height:500px;
  margin-left: 5px;
  overflow:hidden;
}

.rightName{
  /*background:rgba(255,255,255,0.2);*/
  height:60px;
  display:flex;
  flex-direction: column;
  align-items:center;
  text-transform:uppercase;
  font-size:18px;
  letter-spacing:1px;
  color:#fff;
  padding: 5px;
}

.aaa{
  display: block;
  height: 0px;
}

.linkTitle{
  opacity:0.8;
  font-size: 17px;
  color: white;
}

.linkDesc{
  padding:20px;
  height:calc(100% - 60px);
  box-sizing:border-box;
  overflow:auto;
}

/*******************Couleurs Gabriel*******************/
/*Gabriel Link*/
.GabL{
  /*background: rgba(115, 151, 222, 0.6);*/
  background:rgba(115, 151, 222, 0.4);
  color: black;
}

/*Gabriel Gauche*/
.GabG{
   /*background: #7397DE;*/
   border: solid 1px #7397DE;
}

.GabG .leftName{
  border-bottom: solid 1px #7397DE;
}

/*Gabriel Link*/
.GabD hr{
  background-color:#7397DE!important;
  border: none;
  height: 1px;
}

/*******************Couleurs Antoine*******************/
/*Antoine Link*/
.AntL{
  background: rgba(142, 125, 213, 0.4);
  color: black;
}

/*Antoine Gauche*/
.AntG{
 border: solid 1px #8E7DD5;
}

.AntG .leftName{
  border-bottom: solid 1px #8E7DD5;
}

/*Antoine Link*/
.AntD hr{
  background-color:#8E7DD5!important;
  border: none;
  height: 1px;
}

  /*******************Couleurs Eliandre*******************/
  /*Eliandre Link*/
  .EliL{
    background: rgba(128, 209, 194, 0.4);
    color: black;
  }
  
  /*Eliandre Gauche*/
  .EliG{
  border: solid 1px #80D1C2;
  }
  
  .EliG .leftName{
    border-bottom: solid 1px #80D1C2;
  }
  
  /*Eliandre Link*/
  .EliD hr{
    background-color:#80D1C2!important;
    border: none;
    height: 1px;
  }

 /*******************Couleurs Aymeric*******************/
  /*Aymeric Link*/
  .AymL{
    background: rgba(120, 16, 16, 0.4);
    color: black;
  }
  
  /*Aymeric Gauche*/
  .AymG{
    border: solid 1px #781010;
  }
  
  .AymG .leftName{
    border-bottom:solid 1px #781010;
  }
  
  /*Aymeric Link*/
  .AymD hr{
    background-color:#711919!important;
    border: none;
    height: 1px;
  }

    /*******************Couleurs Khalis*******************/
  /*Khalis Link*/
  .KhaL{
    background: rgba(255, 155, 0, 0.4);
    color: black;
  }

  /*Khalis Gauche*/
  .KhaG{
    border: solid 1px #FF9B00;
  }
  
  .KhaG .leftName{
    border-bottom: solid 1px #FF9B00;
  }
  
  /*Khalis Link*/
  .KhaD hr{
    background-color:#FF9B00!important;
    border: none;
    height: 1px;
  }

      /*******************Couleurs Lorelei*******************/
  /*Lorelei Link*/
  .LorL{
    background: rgba(255, 255, 255, 0.4);
    color: black;
  }
  
  /*Lorelei Gauche*/
  .LorG{
    border: solid 1px white;
  }
  
  .LorG .leftName{
    border-bottom:1px solid #fff;
  }
  
  /*Lorelei Link*/
  .LorD hr{
    background-color:#fff!important;
    border: none;
    height: 1px;
  }

        /*******************Couleurs Juni*******************/
  /*Juni Link*/
  .JunL{
    background: rgba(231, 172, 224, 0.4);
    color: black;
  }
  
  /*Juni Gauche*/
  .JunG{
    border: solid 1px #E7ACE0;
  }
  
  .JunG .leftName{
    border-bottom:1px solid #E7ACE0;
  }
  
  /*Juni Link*/
  .JunD hr{
    background-color:#E7ACE0!important;
    border: none;
    height: 1px;
  }

