.CFL{
    margin:auto;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    font-family:century gothic,arial,sans-serif;
    font-size:14px;
    color:black;
    line-height:1.6;
}

.CFL a{
    text-decoration:none;
    color: black;
}
/*****************Cadre gauche*******************/
/*Cadre Fiche Gauche*/
.CFG{
    position:sticky;
    margin-right:5px;
    font-size:12px;
    text-align:left;
    /*background:rgba(0,0,0,0.04);*/
    padding:15px;
    border-radius:10px;
    box-sizing: border-box;
}

/*Bio Personnage*/
.BP{
    font-size:10px;
    letter-spacing:2px;
    text-transform: uppercase;
    font-weight:bold
}

/*Autre Personnage*/
.AP{
    display:block;
    /*border:1px solid rgba(0,0,0,0.1);*/
    padding:2px 4px;
    margin-top:4px;
    text-decoration:none;
    text-transform: none;
    color:#000;
    font-weight:normal;
}

/*****************Cadre Droite*******************/
/*Cadre Fiche Droite*/
.CFD{
    text-align:justify;
    box-sizing: border-box;
    width: 100%;
}

/*Fiche Droite Onglet*/
.FDO{
   /*border:1px solid rgba(0,0,0,0.1);*/
    padding:10px;
    margin-bottom:20px;
}

/*Onglet Nom*/
.FON{
    cursor:pointer;
    font-size:20px;
    letter-spacing:3px;
    text-transform:uppercase;
    color:#000;
}

/*****************Crédit*******************/
/*Fiche Credit*/
.FC{
    display:block;
    text-align:right;
    color:#999;
    font-size:8px;
    letter-spacing:3px;
}


/*****************Cartes Liens*******************/
/*Lien Recherché Carte*/
.LRC{
    margin: 10px 0;
}

/*Titre Lien*/
.TL{
    padding-right:5px; 
    border-right:15px solid;
    text-align:right;
    transition:all 0.25s linear;
}

.LRC:hover .TL {
    border-right:25px solid;
}

/*Lien Libre*/
.LL{
    background-image:linear-gradient(to left, #38995B, rgba(0,0,0,0)); 
    border-right-color:#38995B;
}

/*Lien Pris*/
.LP{
    background-image:linear-gradient(to left, #B60424,rgba(0,0,0,0)); 
    border-right-color:#B60424;
    color:white;
}

/*******************RPS*******************/
/*Lien RP*/
.LRP { 
    position:relative;
    margin: 12px 0;
    font-style: italic;
    /*background-color: lightgrey;*/
}

/*Lien Feat*/
.LF{
    font-size:10px;
    position: absolute;
    right: 0px;
    bottom: -35%;
    font-weight:bold;
    text-shadow: 0 0 3px white;
    /*bottom: -9px;*/
}


/*******************Couleurs Gabriel*******************/
/*Gabriel Fond*/
.GabF{
    /*background: rgba(188, 210, 229, 0.4);*/
    background:#BED4E8;
}
/*Gabriel Cadre*/
.GabC{
    border:1px solid #7397DE;
}

.GabF hr, .GabC hr{
    background-color:#7397DE!important;
    height: 1px;
    border: none;
}
/**
#7397DE
**/


/*******************Couleurs Antoine*******************/
/*Antoine Fond*/
.AntF{
    /*background: rgba(188, 210, 229, 0.4);*/
    background:#CEC9F1;
}
/*Antoine Cadre*/
.AntC{
    border:1px solid #8E7DD5;
}

.AntF hr, .AntC hr{
    background-color:#8E7DD5!important;
    height: 1px;
    border: none;
}

/*******************Couleurs Eliandre*******************/
/*Eliandre Fond*/
.EliF{
    /*background: rgba(188, 210, 229, 0.4);*/
    background:#CCEBE6;
}
/*Eliandre Cadre*/
.EliC{
    border:1px solid #80D1C2;
}

.EliF hr, .EliC hr{
    background-color:#80D1C2!important;
    height: 1px;
    border: none;
}

/*******************Couleurs Aymeric*******************/
/*Aymeric Fond*/
.AymF{
    background: #974D4D;
}

/*Aymeric Cadre*/
.AymC{
    border:1px solid #711919;
}

.CFL hr{
    background-color:#711919;
    height: 1px;
    border: none;
}

/*******************Couleurs Khalis*******************/
/*Khalis Fond*/
.KhaF{
    background: #f1d370;
}

/*Khalis Cadre*/
.KhaC{
    border:1px solid #FF9B00;
}

.KhaF hr, .KhaC hr{
    background-color:#FF9B00!important;
    height: 1px;
    border: none;
}

/*******************Couleurs Khalis*******************/
/*Khalis Fond*/
.LorF{
    background:rgba(255, 255, 255, 0.7);
}

/*Khalis Cadre*/
.LorC{
    border:1px solid white;
}

.LorF hr, .LorC hr{
    background-color:white!important;
    height: 1px;
    border: none;
}